DATABASE_URL="mysql://root:@localhost:3306/student_db_next"

DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="student_db_next"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

JWT_SECRET=efefef
JWT_EXPIRES_IN=7d